// --------------------------------------------------
// Map Module
// --------------------------------------------------

.map {
  background-color: $medium-gray;
  height: 200px;
  min-height: 40vw;

  @include breakpoint(xlarge) {
    height: calc(100vh - 6rem);
  }

}
