// --------------------------------------------------
// Map Module
// --------------------------------------------------

.map {
  background-color: $dcp-orange;
  color: $white;
  margin: $global-margin*-2 0 $global-margin*2;
  padding: $global-margin*2 0;

  @include breakpoint(large) {
    padding: 4vw 0;
  }

}
