// --------------------------------------------------
// Headings
// --------------------------------------------------

.header-xxlarge { @extend h1; }
.header-xlarge {  @extend h2; }
.header-large {   @extend h3; }
.header-medium {  @extend h4; }
.header-small {   @extend h5; }
.header-tiny {    @extend h6; }

h6,
.header-tiny {
  text-transform: uppercase;
  font-weight: $global-weight-normal;
  margin-bottom: 0.5em;
}

h1,h2,h3,h4,h5,h6 {

  p + &,
  blockquote + &,
  pre + & {
    margin-top: $header-margin-bottom;
  }
}

.header-link {
  color: inherit;
  position: relative;

  .fa {
    display: none;
    font-size: 0.75em;
  }

  &:hover .fa {
    display: inline;
    color: $dark-gray;
  }
}
